.vl {
    border-left: 1px solid #7181e2;
    margin: 0 5px;
    height: 20px;
}

.avatar {
    object-fit: cover;
    width: 2.5rem;
    height: 2.5rem;
    border: 1px solid #7181e2;
    text-decoration: none;
}