<mat-toolbar color="primary">
  <button mat-button (click)="onClickNavToggle()">
    <mat-icon> menu </mat-icon>
  </button>
  <span *ngIf="!mediaQuery">{{ 'MyPOS'.toUpperCase() }}</span>
  <span class="flex-fill"></span>
  <div class="d-flex align-items-center">
    <button mat-button aria-label="search icon button with a heart icon">
      <mat-icon>search</mat-icon>
    </button>
    <div class="vl"></div>
    <button mat-button aria-label="search icon button with a heart icon">
      <mat-icon [matBadge]="emailBadge" matBadgeColor="accent"
        >mail_outline</mat-icon
      >
    </button>
    <div class="vl"></div>
    <button mat-button aria-label="search icon button with a heart icon">
      <mat-icon [matBadge]="notiBadge" matBadgeColor="warn"
        >notifications_none</mat-icon
      >
    </button>
  </div>
  <button mat-button [matMenuTriggerFor]="menu">
    <img
      class="avatar rounded-circle bg-white"
      src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cf/Angular_full_color_logo.svg/500px-Angular_full_color_logo.svg.png"
      alt="img"
    />
    <span class="mr-2"> Admin sing3demons</span>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item>
      <mat-icon>dialpad</mat-icon>
      <span>Redial</span>
    </button>
    <button mat-menu-item disabled>
      <mat-icon>voicemail</mat-icon>
      <span>Check voice mail</span>
    </button>
    <button mat-menu-item>
      <mat-icon>logout</mat-icon>
      <span>Logout</span>
    </button>
  </mat-menu>
</mat-toolbar>
