<div class="row">
  <div class="col-md-4">
    <mat-card class="d-flex align-items-center">
      <img
        class="icon me-3 border"
        src="https://cdn-icons-png.flaticon.com/512/2933/2933245.png"
        alt=""
      />
      <div class="d-flex flex-column">
        <div class="h6 mb-0">Stock</div>
        <div class="h6 mb-0">0</div>
      </div>
    </mat-card>
  </div>
  <div class="col-md-4">
    <mat-card class="d-flex align-items-center">
      <img
        class="icon me-3 border"
        src="https://cdn-icons-png.flaticon.com/512/2933/2933245.png"
        alt=""
      />
      <div class="d-flex flex-column">
        <div class="h6 mb-0">Defect</div>
        <div class="h6 mb-0">0</div>
      </div>
    </mat-card>
  </div>
  <div class="col-md-4">
    <mat-card class="d-flex align-items-center">
      <img
        class="icon me-3 border"
        src="https://cdn-icons-png.flaticon.com/512/2933/2933245.png"
        alt=""
      />
      <div class="d-flex flex-column">
        <div class="h6 mb-0">Out of stock</div>
        <div class="h6 mb-0">0</div>
      </div>
    </mat-card>
  </div>
</div>
