<img
  class="img-fluid"
  src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cf/Angular_full_color_logo.svg/500px-Angular_full_color_logo.svg.png"
  alt="img"
/>

<mat-nav-list dense>
  <a routerLink="stock" routerLinkActive="bg-primary" mat-list-item>
    <span mat-line><span class="mat-h4">Stock</span></span>
    <img
      matListAvatar
      src="https://cdn-icons-png.flaticon.com/512/2979/2979677.png"
      alt=""
    />
  </a>
  <a routerLink="shop"  mat-list-item>
    <span mat-line><span class="mat-h4">Shop</span></span>
    <img
      matListAvatar
      src="https://cdn-icons-png.flaticon.com/512/869/869432.png"
      alt=""
    />
  </a>
  <mat-divider class="mt-4"></mat-divider>
  <h3 matSubheader>Dashboard</h3>
  <a href="" mat-list-item>
    <span mat-line><span class="mat-h4">Summary</span></span>
    <img
      matListAvatar
      src="https://cdn-icons-png.flaticon.com/512/8896/8896824.png"
      alt=""
    />
  </a>
  <a href="" mat-list-item>
    <span mat-line><span class="mat-h4">Customer</span></span>
    <img
      matListAvatar
      src="https://cdn-icons-png.flaticon.com/512/1198/1198343.png"
      alt=""
    />
  </a>
</mat-nav-list>
