<mat-sidenav-container fullscreen>
  <mat-sidenav
    #sidenav
    [mode]="!mobileQueyMax.matches ? 'side' : 'over'"
    [opened]="mobileQueyMax.matches ? false : true"
  >
    <app-side-nav>{{ btnTitle }}</app-side-nav>
  </mat-sidenav>
  <mat-sidenav-content>
    <app-header
      [media_query]="mobileQueyMax.matches"
      (toggle)="sidenav.toggle()"
      (seyHello)="seyHi($event)"
    >
    </app-header>
    <div class="content-wrapper">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
